force-app/main/default/flows/GDICOE_Job_Posting_Create_Duplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Duplicate_Name</name>
        <label>Set Duplicate Name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>dupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DUP - {!Get_Job_Posting_Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Duplicate_Job_Posting_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>GDICOE Job Posting Create Duplicate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDICOE Job Posting Create Duplicate</label>
    <loops>
        <name>Job_Detail_Loop</name>
        <label>Job Detail Loop</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Job_Detail_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Duplicate_Job_Detail_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Duplicate_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Duplicate_Job_Detail_Record</name>
        <label>Create Duplicate Job Detail Record</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Job_Detail_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Advantages__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Advantages__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assets__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Assets__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Footer__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Footer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDICOE_Job_Posting__c</field>
            <value>
                <elementReference>postingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Header__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Header__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Keywords__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Keywords__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Job_Detail_Loop.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profile__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsibilities__c</field>
            <value>
                <elementReference>Job_Detail_Loop.Responsibilities__c</elementReference>
            </value>
        </inputAssignments>
        <object>GDICOE_Job_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Duplicate_Job_Posting_Record</name>
        <label>Create Duplicate Job Posting Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>postingId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Job_Detail_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDICOE_Job_List__c</field>
            <value>
                <elementReference>Get_Job_Posting_Record.GDICOE_Job_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDICOE_Job_Posting_Template__c</field>
            <value>
                <elementReference>Get_Job_Posting_Record.GDICOE_Job_Posting_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>dupName</elementReference>
            </value>
        </inputAssignments>
        <object>GDICOE_Job_Posting__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Detail_Records</name>
        <label>Get Job Detail Records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Detail_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDICOE_Job_Posting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GDICOE_Job_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Posting_Record</name>
        <label>Get Job Posting Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Duplicate_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GDICOE_Job_Posting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Duplicate_Complete</name>
        <label>Confirm Duplicate Complete</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Comfirm_Duplicate_Complete</name>
            <fieldText>&lt;p&gt;Created duplicate Job Posting : &quot;{!dupName}&quot; from &quot;{!Get_Job_Posting_Record.Name}&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Posting_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
